.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.text-sm {
  font-size: 17px;
  line-height: 1.4rem;
  letter-spacing: -0.1px;
  margin: 20px;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card-project {
  width: 60vh;
  background-image: linear-gradient(100deg, #242830 0%, rgb(237 106 15) 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  height: 100%;
  display: flex;
  background-color: rgb(245 151 86 / 87%);
  border-radius: 10px;
  transition: all .2s;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card-project:hover {
  box-shadow: 0px 0px 30px 1px rgba(5, 237, 113, 0.3);
 }

  .hero-inner {
    flex-direction: column;
  }

  /* Breakpoint for small devices 320px */
  @media only screen and (max-width: 320px) {
    .text-sm {
      font-size: 14px;
    }
  
    .btn-group{
      flex-direction: column;
      gap: 10px;
    }
    .features-wrap{
      flex-wrap: wrap;
    }
  }
  
  /* Breakpoint for mediun devices 375px */
  @media only screen and (max-width: 375px) {
    .features-wrap{
      flex-wrap: wrap;
    }
  }

  /* Breakpoint for Large devices 425px */
@media only screen and (max-width: 425px) {
	.features-wrap{
    flex-wrap: wrap;
  }
}

/* Breakpoint for tablet 768px */
@media only screen and (max-width: 768px) {
	.features-wrap{
    flex-wrap: wrap;
  }
}

/* Breakpoint for portatil 1024px */
@media only screen and (max-width: 1024px) {
	.features-wrap{
    flex-wrap: wrap;
  }

  .card-project{
    width: 30vh;
  }
}


