.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 900px;
  background: #242830;
  background: linear-gradient(160deg, rgba(0, 183, 255, 0.62) 0%, rgb(249, 249, 249) 100%);
  transform-origin: 1;
  transform: skewY(4deg);
  z-index: -1;
}

.project-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 20px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.text-sm {
  font-size: 17px;
  line-height: 1.4rem;
  letter-spacing: -0.1px;
  margin: 20px;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card-project {
  width: 60vh;
  background-image: linear-gradient(163deg, #00a3cb 0%, #0059ff 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  height: 100%;
  display: flex;
  background-color: rgb(153, 214, 240);
  border-radius: 10px;
  transition: all .2s;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card-project:hover {
  box-shadow: 0px 0px 30px 1px rgba(5, 237, 113, 0.3);
 }

  .hero-inner {
    flex-direction: column;
  }

  @media (min-width: 1920px) {
    .card-project{
      width: 80vh;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 1200px) and (max-width: 1919px) {
    .card-project{
      width: 65vh;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .card-project{
      width: 60vh;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .features-wrap{
      flex-direction: column;
    }
    
    .card-project{
      width: 70vh;
    }
    .feature-title{
      font-size: 15px;
    }

    button{
      display: flex;
      padding: 14px 10px;
      height: auto;
    }
    .btn-group{
      padding: 10px;
      gap: 3px;
    }
  }

  @media (min-width: 481px) and  (max-width: 767px) {
    .card-project{
      width: 60vh;
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .features-wrap{
      flex-direction: column;
    }
    .card-project{
      width: 60vh;
    }
  }