.project-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 80px;
  gap: 100px;
}

.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-wrap {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.text-sm {
  font-size: 17px;
  line-height: 1.4rem;
  letter-spacing: -0.1px;
  margin: 20px;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card-project {
  width: 65vh;
  background-image: linear-gradient(163deg, #e11d1d 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  height: 100%;
  display: flex;
  background-color: #1a1a1a;
  border-radius: 10px;
  transition: all .2s;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card-project:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }

  .hero-inner {
    flex-direction: column;
  }

  @media (min-width: 1920px) {
    .card-project{
      width: 80vh;
      flex-wrap: wrap;
    }
  }

  @media (min-width: 1200px) and (max-width: 1919px) {
    .card-project{
      width: 65vh;
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    .card-project{
      width: 60vh;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .features-wrap{
      flex-direction: column;
    }
    
    .card-project{
      width: 70vh;
    }
    .feature-title{
      font-size: 15px;
    }
    .text-sm{
    }

    button{
      display: flex;
      padding: 14px 10px;
      height: auto;
    }
    .btn-group{
      padding: 10px;
      gap: 3px;
    }
  }

  @media (min-width: 481px) and  (max-width: 767px) {
    .card-project{
      width: 60vh;
      flex-direction: column;
    }
  }

  @media (max-width: 480px) {
    .features-wrap{
      flex-direction: column;
    }
    .card-project{
      width: 60vh;
    }
  }