.site-footer {
  width: 100%;
}
.site-footer .container{
  font-size: 14px;
  margin-top: 10%;
  background: #062C9E;
}
.site-footer-inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-brand,
.footer-links,
.footer-copyright {
  flex: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
/* .footer-brand, */
.footer-links {
  margin-bottom: 24px;
}
