.site-header {
  padding: 24px 0;
}

.site-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  background: #242830;
  background: linear-gradient(144deg, rgb(123 71 54) 0%, rgb(249, 249, 249) 100%);
  transform-origin: 1;
  transform: skewY(4deg);
}

.header-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding: 10px;
}

a:hover {
  color: white;
}

.header-link {
  display: flex;
  gap: 0px 20px;
  margin: auto;
}

@media (max-width: 1023px) {
  .header-container{
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .header-container{
    font-size: 15px;
  }
  div h1{
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .header-container{
    font-size: 12px;
  }
  div h1{
    font-size: 24px;
  }
}