.site-header {
  padding: 24px 0;
}

.site-header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 700px;
  background: #242830;
  background: linear-gradient(144deg, rgb(123 71 54) 0%, rgb(249, 249, 249) 100%);
  transform-origin: 1;
  transform: skewY(4deg);
  z-index: -1;
}

.header-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding: 10px;
}

a:hover {
  color: white;
}

.header-link {
  display: flex;
  gap: 0px 20px;
  margin: auto;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 600px) {
  .header-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 400px) {
  .site-header::before {
    width: 160.5%;
    height: 1061px;
  }
}

@media only screen and (max-width: 320px) {
  .header-link {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
  }
}
