.site-header {
  padding: 24px 90px;
}

.header-container {
  position: relative;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding: 10px;
}

a:hover {
  color: white;
}

.header-link {
  display: flex;
  gap: 0px 20px;
  margin: auto;
}



/* Breakpoint for Large devices 425px */
@media (max-width: 767px) and (min-width: 320px) {
	.header-container{
    flex-direction: column;
    width: 100%;
  }
  .header-link{
    flex-direction: row;
    gap: 10px;
    padding: 8px;
  }

  h1{
    font-size: 20px;
  }

  .scrolled{
    top: 0;
  }

  .site-header{
    padding: 0px 0px;
  }
  
}

/* Breakpoint for tablet 768px */
@media (max-width: 1023px) and (min-width: 768px) {
	.header-container{
    justify-content: space-evenly;
    gap: 60px;
  }

  h1{
    width: 217px;
  }
  
}

/* Breakpoint for portatil 1024px */
@media (min-width: 1024px) {
	.header-container{
    justify-content: space-evenly;
    gap: 60px;
  }

  h1{
    width: 450px;
  }
}
