.hero {
  padding: 90px;
}

.hero-container {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.hero-copy{
  width: 100%;
}

.mark{
  max-height: 452px;
  max-width: 233px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  height: 52px;
}

button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}


.button-primary {
  background: #097dea;
  background: linear-gradient(65deg, #0270d7 0, #0f8afd 100%);
}

.card {
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
  height: 100px;
}

.card .social-link1,
.card .social-link2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  /* border-radius: 10px; */
  padding-left: 50px;
  padding-right: 50px;
}

.card svg {
  transform: scale(1);
}

/* .card .social-link1:hover {
  background-color: #1c2b39;
  animation: bounce_613 0.4s cubic-bezier(0, 1.21, 0, 1.23);
} */

/* .card .social-link2:hover {
  background-color: #0372e1;
  animation: bounce_613 0.4s cubic-bezier(0, 1.21, 0, 1.23);
} */

/* @keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
} */



@media (max-width: 424px) and (min-width: 375px){
	
}

/* Media queries for responsiveness */

/* @media (max-width: 768px) {
  .hero-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
} */

  /* Breakpoint for Large devices 425px */
  @media (max-width: 767px) and (min-width: 425px) {
    .hero-container{
      margin: 0px 10px;
    }
    .hero-title,
    .hero-paragraph{
      text-align: center;
    }

    .mark{
      max-height: 40vh;
    }

    .card{
      flex-wrap: wrap;
    }

    button{
      height: 1.7em;
      width: 90px;
      text-align: center;
      padding: 18px;
      align-items: center;
    }
  }