h1 {
    margin-bottom: 16px;
}

.hero-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-copy {
    position: relative;
    z-index: 1;
  }

  .mt-0 {
    margin-top: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 24px;
  }

  .hero-cta {
    margin: 0;
  }

  button{
    display: inline-flex;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    line-height: 16px;
    text-decoration: none !important;
    text-transform: uppercase;
    background-color: #242830;
    color: #fff !important;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    padding: 16px 32px;
    height: 48px;
    text-align: center;
    white-space: nowrap;
  }

  .button-primary {
    background: #097dea;
    background: linear-gradient(65deg, #0270d7 0, #0f8afd 100%);
  }

  .mark {
    border-radius: 10px;
    padding: 1%;
    border: 1px solid gray;
  }

@media (min-width: 641px) {
  .hero {
    text-align: left;
    padding-top: 64px;
    padding-bottom: 88px;
  }

  .hero-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-copy {
    padding-right: 64px;
    min-width: 552px;
    width: 552px;
  }

  h1 {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0px;
  }

  .hero-cta .button {
    min-width: 170px;
  }

  .hero-cta .button:first-child {
    margin-right: 16px;
  }
}
.card {
  display: flex;
  height: 70px;
  width: 270px;
  gap: 10px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,.card .social-link2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 10px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1:hover {
  background-color: #1c2b39;
  animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
  background-color: #0059f7;
  animation: bounce_613 0.4s linear;
}

.card .social-link4:hover {
  background-color: #1d4292;
  animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}