/* Default styles */
.is-boxed {
	background: #9f4024;
}

.body-wrap {
	background: #9f4024;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.aqui{
	width: 100vh;
}

/* Breakpoint for small devices 320px */
@media only screen and (max-width: 320px) {
	.aqui{
		width: 100vh;
		max-width: 500px;
	}
	h1{
		font-size: 30px;
	}
}
/* Breakpoint for mediun devices 375px */
@media only screen and (max-width: 375px) {
	.aqui{
		width: 100vh;
		max-width: 500px;
	}
	h1{
		font-size: 30px;
	}
}

/* Breakpoint for Large devices 425px */
@media only screen and (max-width: 425px) {
	.aqui{
		width: 100vh;
		max-width: 500px;
	}
	h1{
		font-size: 30px;
	}
}










